
:root {
    /*pallet*/
    --primary: #191919;
    --secondary: #222831;
    --primary-dark: #191919;
    --primary-light: #F6F6F6;

    --background-primary: #191919;
    --background-secondary: #222831;
    --background-dark-light: #31363F;
    
    /*text*/
    --text-white: #F6F6F6;
    --text-secondary: #ECECEC;

    /*border*/
    --border-primary: #F6F6F6;
    --border-secondary: #939393;
    
    /*simple*/
    --white: #ffffff;
    --black: #000000;
    --gray: #6c757d;

    /*more*/
    --success: #28a745;
    --error: #dc3545;
    --warning: #ffc107;

    /*optiom*/
    --bg-light: #f8f9fa;
    --bg-dark: #191919;
}

.Welcome {
    padding-top: 200px;
    width: 800px;
}

.Section1{
    display: flex;
    gap: 150px;
}

@keyframes smoothHover {
    from { opacity: 1; }
    to { opacity: 0.8; }
  }

.Button{
    animation: none;
    border-radius: 4px;
    padding: 0 20px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid var(--border-primary);
}

.Button:hover{
    background-color: var(--background-primary);
    border: 1px solid transparent;
    color: var(--text-white);
    animation: smoothHover 0.3s ease forwards;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 20px 200px;
    color: var(--text-white);
}

.Nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.List {
    list-style-type: none;
    padding: 10px 20px;
    position: relative;
}

.List a {
    color: var(--text-white);
    text-decoration: none;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    position: relative;
    padding: 0 5px 10px 5px;
}


.List a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-light); 
    border-radius: 8px;
}

.hero {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 200px;
}




/**                 ICONS STYLE                 **/

.icon {
    width: 24px;
    height: 24px;
    max-width: 48px;
    fill: currentColor;
  }
  
.icon.github, .icon.linkedin{
    fill: var(--white);
}
  